@media (max-width: 992px) {
    .header {
        padding: 17px 0;
    }
    
    .header-nav {
        display: none;
    }

    .header-btn {
        padding: 12px 20px;
        margin-right: 7px;
        font-size: 12px;
    }

    .burger {
        display: block;
        position: relative;
        width: 36px;
        height: 36px;
        border: 1px solid currentColor;
        border-radius: 3px;
        color: #293c6d;
    }

    .burger-line {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: 1px;
        border-radius: inherit;
        background-color: currentColor;
    }

    .burger-line:nth-child(1) {
        top: 10px;
    }

    .burger-line:nth-child(3) {
        bottom: 10px;
    }

    .burger-line:nth-child(2) {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

   .footer-right {
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-list {
        flex-direction: column;
        align-items: center;

    }


    .footer-item {
        margin: 0;
    }

    .footer-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 8px;
    }

    .footer-left {
        margin-bottom: 25px;
    }

    .games-preview-image {
        max-width: 100px;
        object-fit: cover;
    }

    .games-preview-text {
        padding: 20px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #787878;
    }

    .games-preview-title {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        color: #1C1C1C;
    }

    .games-preview-desc {
        margin: 0;
        margin-bottom: 10px;
    }
}