<!DOCTYPE html>
<html>
<head>
  <script src="https://aframe.io/releases/1.4.0/aframe.min.js"></script>
  <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script>

  <title>Игра</title>
</head>
<body>
  <a-scene embedded arjs>
    <a-assets>
        <audio  id="audio1" src ="https://cdn.glitch.global/2cde3668-1228-4af5-9598-55543259538f/Classic%20Video%20Game%20Super%20Mario%20Theme%20Music.mp3?v=1679551695699" crossorigin="anonymous"></audio>
        <audio  id="audio2" src ="https://cdn.glitch.global/2cde3668-1228-4af5-9598-55543259538f/Sound_19349.mp3?v=1679552230110" crossorigin="anonymous"></audio>
    </a-assets>
    <a-marker id="hiro" preset="hiro">
      <a-sound id="sound2" src="#audio2" volume="10"></a-sound>
      <!--<a-entity
      id="cubeContainer"></a-entity>-->
      <a-box
      id="cubeContainer"
      color="red"
      position="-1 0 -1"
      scale="0.5 0.5 0.5"
      opacity="0"
      ></a-box>

      <a-sphere
      id="sphereContainer"
      color="red"
      position="0 0 0.25"
      scale="0.25 0.25 0.25"
      opacity="0"></a-sphere>
      <a-gltf-model
        id="galaftContainer"
        src="https://cdn.glitch.global/89439951-2532-4b46-ae5a-ac14375adfaa/cubeSuper.glb?v=1679559721530"
        visible="false"
        scale="0.3 0.3 0.3"
        rotation="0 90 0"
      ></a-gltf-model>
      <a-plane
      id="plane"
      color="white"
      scale="3 3 3"
      rotation="-90 0 0"></a-plane>
      <a-box
      color="red"
      position="-1 0.5 1"
      scale="0.5 0.5 0.5"></a-box>
      <a-box
      color="blue"
      position="0 0.5 1"
      scale="0.5 0.5 0.5"></a-box>
      <a-box
      color="green"
      position="1 0.5 1"
      scale="0.5 0.5 0.5"></a-box>

      <a-sphere
      color="red"
      position="1 0.25 -1"
      scale="0.25 0.25 0.25"></a-sphere>

      <a-sphere
      color="blue"
      position="0 0.25 -1"
      scale="0.25 0.25 0.25"></a-sphere>

      <a-sphere
      color="green"
      position="-1 0.25 -1"
      scale="0.25 0.25 0.25"></a-sphere>
    </a-marker>
    <a-entity camera></a-entity>
    <a-entity position="-1 0.8 -1" text="value: Score: 0; align: left;"></a-entity>

    <a-marker id="red" preset="kanji">
      <a-box
      id="redbox"
      color="red"
      ></a-box>
    </a-marker>

    <a-marker id="blue" type="pattern" url="https://cdn.glitch.global/130ad999-05c0-470d-b432-ebf743857416/pattern-letV.patt?v=1679542925500">
      <a-box
      id="bluebox"
      color="blue"></a-box>
    </a-marker>

     <a-marker id="chNeCub" type="pattern" url="https://cdn.glitch.global/89439951-2532-4b46-ae5a-ac14375adfaa/pattern-letterB.patt?v=1679458041012">
      <a-box
      id="chkbbox"
      color="black"></a-box>
    </a-marker>

    <a-marker id="green" type="pattern" url="https://cdn.glitch.global/130ad999-05c0-470d-b432-ebf743857416/pattern-letter-a.patt?v=1679542924743">
      <a-box
      id="greenbox"
      color="green"></a-box>
    </a-marker>
  </a-scene>

  <div class="header">
          <h1 id="time" class="counter">Score: <div id="min" class="min"></div> </h1>
  </div>
        <style>
            .header {
                background-color: rgb(29, 29, 29);
                width: 100%;
                min-height: 20px;
                opacity: 50%;
                padding: 10px 20px;
                position: absolute;
                right: 0;
                z-index: 100;
                top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
          .counter {
            display: inline-block;
            margin:0;
            color: #ffffff;
          }

          .min {
            display: inline-block;
          }
        </style>


  <script>
    const COLORS = ['red', 'green', 'blue'];
    const SHAPES = [1, 2, 3];

    var counter = 0;
    var colorIndex;
    var shape;

    // кубик
    function createCube(color) {
      const cubeEl = document.querySelector('#cubeContainer');
      cubeEl.setAttribute('position', `0 0.5 0`);
      cubeEl.setAttribute('color', color);
      cubeEl.setAttribute('opacity', `1`);
    }

    function createSphere(color) {
      const sphereEl = document.querySelector('#sphereContainer');
      sphereEl.setAttribute('position', `0 0.25 0`);
      sphereEl.setAttribute('color', color);
      sphereEl.setAttribute('opacity', `1`);
    }

    function createNekubit() {
      const modulEl = document.querySelector('#galaftContainer');
      modulEl.setAttribute('visible', `true`);

      var ind = Math.floor(Math.random() * 3);
      if(ind == 0)
      modulEl.setAttribute('src','https://cdn.glitch.global/89439951-2532-4b46-ae5a-ac14375adfaa/cube1.glb?v=1679566677340');
      if(ind == 1)
      modulEl.setAttribute('src','https://cdn.glitch.global/89439951-2532-4b46-ae5a-ac14375adfaa/cube5.glb?v=1679567495117');
      if(ind == 2)
      modulEl.setAttribute('src','https://cdn.glitch.global/89439951-2532-4b46-ae5a-ac14375adfaa/cube3.glb?v=1679567128888');
    }


    // генерируем цвет
    function getRandomColor() {
      var index = Math.floor(Math.random() * COLORS.length);
      colorIndex = index;
      return COLORS[index];
    }

    function getRandomShape() {
      var index = Math.floor(Math.random() * SHAPES.length);
      return index;
    }


    // генерация кубов с рандомным цветом
    function generateCubes() {
      const cubeEl = document.querySelector('#cubeContainer');
      const sphereEl = document.querySelector('#sphereContainer');
      const modelEl = document.querySelector('#galaftContainer');
      shape = getRandomShape();
      if (shape == 0) {
        const color = getRandomColor();
        sphereEl.setAttribute('opacity', `0`);
        modelEl.setAttribute('visible', `false`);
        createCube(color);
      }
      else if(shape==1){
        const color = getRandomColor();
        cubeEl.setAttribute('opacity', `0`);
        modelEl.setAttribute('visible', `false`);
        createSphere(color);
      }
      else if(shape == 2){
        const color = getRandomColor();
        sphereEl.setAttribute('opacity', `0`);
        cubeEl.setAttribute('opacity', `0`);
        createNekubit();
      }

    }

    // ищем маркер
   /* const markerEl = document.querySelector('#hiro');
    markerEl.addEventListener('markerFound', () => {
      generateCubes();
    });*/

  //красная кнопка
    const redButton = document.querySelector('#redbox');
    const redMarker = document.querySelector('#red');

    var redPosX;
    var redPosy;
    var redPosz;

    let marker = document.querySelector("#hiro");
    let sound = document.querySelector("#audio1");
    let sound1 = document.querySelector("#audio2");

    marker.addEventListener('markerFound', function(){
      var markerId = marker.id;
      generateCubes();
    });

    marker.addEventListener('markerLost', function(){
      var markerId = marker.id;
      sound.pause();
    });

    let marker7 = document.querySelector("#chNeCub");
     marker7.addEventListener('markerLost', () => {
        generateCubes();
    });

    redMarker.addEventListener('markerLost', () => {

      if (colorIndex == 0 && shape == 0) {
        counter = counter + 1;
        document.getElementById("min").innerHTML = counter;
        var cube = document.getElementById("cubeContainer");
        cube.setAttribute('animation', `property: position; to: -1 0 1; dur: 1000; easing: linear;`);
        setTimeout(function() {
        cube.removeAttribute('animation');
        generateCubes();
        sound1.play();}, 1000);
      }
      if (colorIndex == 0 && shape == 1) {
        counter = counter + 1;
        document.getElementById("min").innerHTML = counter;
        var sphere = document.getElementById("sphereContainer");
        sphere.setAttribute('animation', `property: position; to: 1 0.25 -1; dur: 1000; easing: linear;`);
        setTimeout(function() {
        sphere.removeAttribute('animation');
        generateCubes();
        sound1.play();}, 1000);
      }
      else {
        counter = 0;
        document.getElementById("min").innerHTML = counter;
        generateCubes();
      }
    });

    //синие
    const blueButton = document.querySelector('#blue');

    blueButton.addEventListener('markerLost', () => {

      if (colorIndex == 2 && shape == 0) {
        counter = counter + 1;
        document.getElementById("min").innerHTML = counter;
        var cube = document.getElementById("cubeContainer");
        cube.setAttribute('animation', `property: position; to: 0 0 1; dur: 1000; easing: linear;`);
        setTimeout(function() {
        cube.removeAttribute('animation');
        generateCubes();
        sound1.play();}, 1000);
      }
      else if (colorIndex == 2 && shape == 1) {
        counter = counter + 1;
        document.getElementById("min").innerHTML = counter;
        var sphere = document.getElementById("sphereContainer");
        sphere.setAttribute('animation', `property: position; to: 0 0.25 -1; dur: 1000; easing: linear;`);
        setTimeout(function() {
        sphere.removeAttribute('animation');
        generateCubes();
        sound1.play();}, 1000);
      }
      else {
        counter = 0;
        document.getElementById("min").innerHTML = counter;
        generateCubes();
      }
    });

    //зеленые
    const greenButton = document.querySelector('#green');

    greenButton.addEventListener('markerLost', () => {

      if (colorIndex == 1 && shape == 0) {
        counter = counter + 1;
        document.getElementById("min").innerHTML = counter;
        var cube = document.getElementById("cubeContainer");
        cube.setAttribute('animation', `property: position; to: 1 0 1; dur: 1000; easing: linear;`);
        setTimeout(function() {
        cube.removeAttribute('animation');
        generateCubes();
        sound1.play();}, 1000);
      }
      else if (colorIndex == 1 && shape == 1) {
        counter = counter + 1;
        document.getElementById("min").innerHTML = counter;
        var sphere = document.getElementById("sphereContainer");
        sphere.setAttribute('animation', `property: position; to: -1 0.25 -1; dur: 1000; easing: linear;`);
        setTimeout(function() {
        sphere.removeAttribute('animation');
        generateCubes();
        sound1.play();}, 1000);
      }
      else {
        counter = 0;
        document.getElementById("min").innerHTML = counter;
        generateCubes();
      }
    });





  </script>
</body>
</html>