<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/media.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <div class="container flex header-container">
            <a href="#" class="header-logo">
                <img src="static/img/gorcode-logo.jpg" alt="Logo" class="header-logo">
            </a>
            <nav class="header-nav">
                <ul class="header-list list-reset flex">
                    <li class="header-list-item">
                        <a href="/" class="header-link">
                            Главная
                        </a>
                    </li>
                    <li class="header-list-item">
                        <a href="/create-user" class="header-link">
                            Фотобудка
                        </a>
                    </li>
                    <li class="header-list-item">
                        <a href="/create-user" class="header-link">
                            Регистрация
                        </a>
                    </li>
                    <li class="header-list-item">
                        <a href="/users" class="header-link">
                            Пользователи
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="btn-reset burger">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </button>
        </div>
    </header>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

</body>
</html>