<!DOCTYPE html>
<html>
<head>
  <script src="https://aframe.io/releases/1.4.0/aframe.min.js"></script>
  <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script>

  <title>Простая игра</title>

  <link rel="shortcut icon" href="../static/img/gorcode-logo.svg" type="image/svg">
</head>
<body>
  <a-scene embedded arjs>
    <a-assets>
        <audio  id="audio1" src ="https://cdn.glitch.global/2cde3668-1228-4af5-9598-55543259538f/Classic%20Video%20Game%20Super%20Mario%20Theme%20Music.mp3?v=1679551695699" crossorigin="anonymous"></audio>
        <audio  id="audio2" src ="https://cdn.glitch.global/2cde3668-1228-4af5-9598-55543259538f/Sound_19349.mp3?v=1679552230110" crossorigin="anonymous"></audio>
    </a-assets>
    <a-marker id="hiro" preset="hiro">
      <a-sound id="sound1" src="#audio1" volume="0.5"></a-sound>
      <a-sound id="sound2" src="#audio2" volume="10"></a-sound>
      <!--<a-entity
      id="cubeContainer"></a-entity>-->
      <a-box
      id="cubeContainer"
      color="red"
      position="-1 0 -1"
      scale="0.5 0.5 0.5"></a-box>
      <a-plane
      id="plane"
      color="white"
      scale="3 3 3"
      rotation="-90 0 0"></a-plane>
      <a-box
      color="red"
      position="-1 0 1"
      scale="0.5 0.5 0.5"></a-box>
      <a-box
      color="blue"
      position="0 0 1"
      scale="0.5 0.5 0.5"></a-box>
      <a-box
      color="green"
      position="1 0 1"
      scale="0.5 0.5 0.5"></a-box>
    </a-marker>
    <a-entity camera></a-entity>
    <a-entity position="-1 0.8 -1" text="value: Score: 0; align: left;"></a-entity>

    <a-marker id="red" preset="kanji">
      <a-box
      id="redbox"
      color="red"></a-box>
    </a-marker>

    <a-marker id="blue" type="pattern" url="https://cdn.glitch.global/130ad999-05c0-470d-b432-ebf743857416/pattern-letV.patt?v=1679542925500">
      <a-box
      id="bluebox"
      color="blue"></a-box>
    </a-marker>

    <a-marker id="green" type="pattern" url="https://cdn.glitch.global/130ad999-05c0-470d-b432-ebf743857416/pattern-letter-a.patt?v=1679542924743">
      <a-box
      id="greenbox"
      color="green"></a-box>
    </a-marker>
  </a-scene>

  <div class="header">
          <h1 id="time" class="counter">Итог - <div id="min" class="min"></div> </h1>
  </div>
        <style>
            .header {
                background-color: rgb(29, 29, 29);
                width: 100%;
                min-height: 20px;
                opacity: 50%;
                padding: 10px 20px;
                position: absolute;
                right: 0;
                z-index: 100;
                top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
          .counter {
            display: inline-block;
            margin:0;
            color: #ffffff;
          }

          .min {
            display: inline-block;
          }
        </style>


  <script>
    const COLORS = ['red', 'green', 'blue'];
    //const COLORS = ['red'];
    var counter = 0;
    var colorIndex;

    // кубик
    function createCube(color) {
      const cubeEl = document.querySelector('#cubeContainer');
      cubeEl.setAttribute('position', `0 0 0`);
      cubeEl.setAttribute('color', color);
      //cubeEl.setAttribute('height',0.5);
      //cubeEl.setAttribute('width',0.5);
      //cubeEl.setAttribute('animation', 'false');
      //cubeEl.setAttribute('scale', '0.5 0.5 0.5');
      //const cubeContainerEl = document.querySelector('#cubeContainer');
      //cubeContainerEl.appendChild(cubeEl);

      //b();
    }

    // генерируем цвет
    function getRandomColor() {
      var index = Math.floor(Math.random() * COLORS.length);
      colorIndex = index;
      return COLORS[index];
    }

    // генерация кубов с рандомным цветом
    function generateCubes() {
        const color = getRandomColor();
        createCube(color);
    }

    // ищем маркер
    const markerEl = document.querySelector('#hiro');
    markerEl.addEventListener('markerFound', () => {
      generateCubes();
    });

    // теряем маркер
    /*markerEl.addEventListener('markerLost', () => {
      const cubeContainerEl = document.querySelector('#cubeContainer');
      cubeContainerEl.innerHTML = '';
    });*/

   /* function moveToCube() {
  // Get the first cube on the scene
  const cubeEl = document.querySelector('#cubeContainer');


  // Choose a random color cube from the panel
  const index = Math.floor(Math.random() * colorCubes.length);
  const targetCube = colorCubes[index];

  // Move the first cube to the position of the target cube
  const position = targetCube.getAttribute('position');
  cubeEl.setAttribute('position', position);
}*/
  //красная кнопка
    const redButton = document.querySelector('#redbox');
    const redMarker = document.querySelector('#red');

    var redPosX;
    var redPosy;
    var redPosz;

   /* redMarker.addEventListener('markerFound', () => {
      var redPos = redMarker.getAttribute('position');
      console.log(redPos);
      redPosX = redPos.x.toFixed(1);

      redPosY = redPos.y.toFixed(1);
      redPosZ = redPos.z.toFixed(1);

    });*/
    let marker = document.querySelector("#hiro");
    let sound = document.querySelector("#audio1");
    let sound1 = document.querySelector("#audio2");

    marker.addEventListener('markerFound', function(){
      var markerId = marker.id;
      sound.play();
    });

    marker.addEventListener('markerLost', function(){
      var markerId = marker.id;
      sound.pause();
    });

    redMarker.addEventListener('markerLost', () => {

      if (colorIndex == 0) {
        counter = counter + 1;
        document.getElementById("min").innerHTML = counter;
        //generateCubes();
        var cube = document.getElementById("cubeContainer");
        cube.setAttribute('animation', `property: position; to: -1 0 1; dur: 2000; easing: linear;`);
        setTimeout(function() {
        cube.removeAttribute('animation');
        generateCubes();
        sound1.play();}, 2000);
      }
      else {
        counter = 0;
        document.getElementById("min").innerHTML = counter;
        generateCubes();
      }
    });

    //синие
    const blueButton = document.querySelector('#blue');

    blueButton.addEventListener('markerLost', () => {

      if (colorIndex == 2) {
        counter = counter + 1;
        document.getElementById("min").innerHTML = counter;
        var cube = document.getElementById("cubeContainer");
        cube.setAttribute('animation', `property: position; to: 0 0 1; dur: 2000; easing: linear;`);
        setTimeout(function() {
        cube.removeAttribute('animation');
        generateCubes();
        sound1.play();}, 2000);
      }
      else {
        counter = 0;
        document.getElementById("min").innerHTML = counter;
        generateCubes();
      }
    });

    //зеленые
    const greenButton = document.querySelector('#green');

    greenButton.addEventListener('markerLost', () => {

      if (colorIndex == 1) {
        counter = counter + 1;
        document.getElementById("min").innerHTML = counter;
        var cube = document.getElementById("cubeContainer");
        cube.setAttribute('animation', `property: position; to: 1 0 1; dur: 2000; easing: linear;`);
        setTimeout(function() {
        cube.removeAttribute('animation');
        generateCubes();
        sound1.play();}, 2000);
      }
      else {
        counter = 0;
        document.getElementById("min").innerHTML = counter;
        generateCubes();
      }
    });

    //document.getElementById("min").innerHTML = counter;




  </script>
</body>
</html>